@(task: Task, taskForm: Form[Task], user: String)

@import helper._

@main("New Task") {
	<h3>Hola @user </h3>

	@form(routes.Application.updateTask(task.id.get)) {
        
        @inputText(taskForm("label")) 

        @inputText(taskForm("tiempo")) 
        
        <input type="submit" value="Create"> or <a href="@routes.Application.index()"><input type="button" value="Cancel"></a>
        <a href="@routes.Application.index()" class="btn">Cancel</a> 
        
    }
    
    
}