@(tasks: List[Task], taskForm: Form[Task], user: String)

@import helper._

@main("Todo list") {
    
    <h1>José Vicente Agulló Sánchez</h1>

    <h1>@tasks.size task(s)</h1>

    <h3>Hola @user </h3>
    
    <a href="@routes.Application.tasks(Some(1))">Ordenar por fecha</a>
    <a href="@routes.Application.tasks(None)">Ordenar por defecto</a>
    

    <table border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
        <tr>
                <td> Tarea </td>
                    
                <td> Fecha limite</td>
                   
                <td> Acciones</td>
            </tr>
           
        @tasks.map { task =>
            
        <tr>
            <td>@task.label</td>
              
            <td>@task.tiempo.map(_.format("dd MMM yyyy"))</td>
                
            <td>
                @form(routes.Application.editTask(task.id.get)) {
                    <input type="submit" value="Edit">
                }@form(routes.Application.deleteTask(task.id.get)) {
                    <input type="submit" value="Delete">
                }
            </td>
        </tr>
        }
    </table>
    
    
    
    <h2>Add a new task</h2>
    
	<!--a class="btn success" id="add" href="@routes.Application.newTask()">Add a new task</a-->
    @form(routes.Application.newTask) {     
        <input type="submit" value="Create new task">
    }

    

    
    
    
}
