@()
@import helper._

@main("Todo list") {
    <h2>José Vicente Agulló Sánchez</h2>

    @form(routes.Application.login()) {
                        <input type="submit" value="Login">
    }

    @form(routes.Application.newUser()) {
                        <input type="submit" value="Registrarse">
    }
    
}


            
            
            
            
            
        
    

    


