@(userFormReg: Form[User])
@import helper._

@main("Todo list") {
    <h2>José Vicente Agulló Sánchez</h2>
    
     <!-- -->

        <h1>Login</h1>
        <h1>seguro</h1>
        

        @form(routes.Application.autenticar) {
        
            @helper.inputText(userFormReg("email"))

            @helper.inputPassword(userFormReg("password")) 
        
            <button type="submit"> Login </button>
            <a href="@routes.Application.index()" class="btn">Cancel</a>
        
        }
}



            
            
            
            
            
        
    

    


