@(userFormReg: Form[User])

@import helper._

@main("Registrar Usuario") {
    
    
    <h1>José Vicente Agulló Sánchez</h1>

    <h1>Regístrate</h1>
    
    @form(routes.Application.registrarse) {
        
        @inputText(userFormReg("email"))

        @inputPassword(userFormReg("password")) 
        
        <button type="submit"> Register </button>
        
    }
    
}